.detail-page-layout {
  padding: 15px; }
  @media screen and (max-width: 768px) {
    .detail-page-layout .detail-page-cntr {
      flex-direction: column; } }
  .detail-page-layout .detail-page-left-container {
    padding-right: 10px; }
    .detail-page-layout .detail-page-left-container .details-page-image-cntr {
      background-color: #dfdfdf;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .detail-page-layout .detail-page-left-container .details-page-image-cntr {
          min-width: 150px;
          min-height: 200px; } }
  .detail-page-layout .detail-page-right-container {
    flex: 1; }
    .detail-page-layout .detail-page-right-container .detail-page-title {
      font-size: 16px; }
    .detail-page-layout .detail-page-right-container .add-spacing {
      padding: 2px 0; }
