.input-box-container {
  width: 300px;
  position: relative; }
  .input-box-container .input-box {
    width: 100%;
    border: none;
    background-color: #dfdfdf;
    color: #9b9b9b;
    padding: 7px 10px 7px 30px;
    border-radius: 4px; }
  .input-box-container .icon-left {
    position: absolute;
    left: 4px;
    top: 5px;
    font-size: 20px;
    color: #9b9b9b; }
