$green: #34A853;
$amber: #fbbc04;
$red: #cf3721;
$blue: #4285f4;
$orange: #f25c00;
$orchid: #ac69b0;
$grey: #4a4a4a;
$lightGrey: #9b9b9b;
$disabled: #dfdfdf;
$white: #fff;
$black: #000;


$fontSize-default: 14px;